flow.json
[{"id":"f074436c.5ab35","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"805c1e31.a821b","type":"box in","z":"f074436c.5ab35","filepattern":"","name":"","interval":"","x":240,"y":80,"wires":[[]]},{"id":"c43184a5.8d3918","type":"ui_button","z":"f074436c.5ab35","name":"","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":220,"wires":[[]]},{"id":"577ccb34.79df64","type":"debug","z":"f074436c.5ab35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":400,"wires":[]},{"id":"48677bb7.4bff14","type":"debug","z":"f074436c.5ab35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":460,"wires":[]},{"id":"4344511.01313b","type":"debug","z":"f074436c.5ab35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":520,"wires":[]}]